.error{
	color:#fff;
	padding:0.5rem 0;
	font-size: 0.8rem;
}
.info{
	color:#fff;
	padding:0.5rem 0;
	font-size: 0.8rem;
}
.lead.bg-success{
	color: #fff;
}
.lead text#peer-name {
	color: #636363;
}
.lead.question {
	margin-top: 0.5rem;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.table-responsive{
	display: table !important;
	font-size:0.75rem;
}
.btn-group-sm>.btn, .btn-sm{
	    padding: .25rem 1rem;
    font-size: .75rem;
}
.form-control{
	font-size: 0.75em;
}
.row.fields{
	margin-bottom: 2rem;
}
.row.fields div{
	margin-bottom: 1rem;
}
.btn-link{
	font-size:0.8rem;
}
.bootbox-body{
	text-align: left;
    font-size: 0.8rem;
}
.form-horizontal{
	margin: 2rem 0;
}
p.bg-primary, p.bg-danger, p.bg-success{
	padding:1rem;
	width:100%;
	color: #fff;
}
.btn.btn-link{
 padding: 0;
}

a:hover, a:focus{
	text-decoration: none;
}